@font-face {
    font-family: "dogica";
    src: url(dogica\ copy.ttf);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "dogica";
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color:rgb(0, 0, 0)
}

    .top-container {
        margin: 20px;
        display: flex;
        gap: 2%;
        height: 30%;
        width: 50%;
        margin: auto;
    }

        .left {
            text-align: center;
            border: 1px solid;
            width: 18%;
            align-content: center;
        }

        .nav-container {
        border: 1px solid;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        width: 80%;
        }

        .nav-item {
        border: 1px solid;
        padding: 10px;
        width: 200px;
        text-align: center;
        align-content: center;
        }

    .bottom-container {
        
        display: flex;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 3%;
        height: 80%;
        border: 1px solid;
        padding: 10px;
        
        
        
    }

    .journal {
       margin: auto;
        
    }

        .inline {
        margin: 10px;
        padding: 10px;
        display: inline-block;
        border: 1px;
        
        }

        .list {
            justify-content: center;
        }


@media screen and (max-width: 600px) {
    

    .bottom-container {
        flex-wrap: wrap;
        margin: auto;
        width: 98%;
    }

    .top-container {
        width: 98%;
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 900px) {
    

    .bottom-container {
        flex-wrap: wrap;
        margin: auto;
        width: 98%;
    }

    .top-container {
        width: 98%;
        margin-bottom: 3%;
    }

}